/* web/themes/custom_tailwind/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles go here */
.parent {
  color: black;

  .child {
    font-weight: bold;
    color: blue;
  }
}

.custom-tailwind {
  @apply rounded-lg;
}