/* web/themes/custom_tailwind/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles go here */
.parent {
  color: black;

  .child {
    font-weight: bold;
    color: blue;
  }
}

.custom-tailwind {
  @apply rounded-lg;
}

@layer components {
  .btn-primary {
    @apply bg-sky-800;
    @apply text-white;
    @apply px-3;
    @apply py-2;
    @apply rounded-full;
  }
  .btn-secondary {
    @apply bg-orange-400;
    @apply text-black;
    @apply px-3;
    @apply py-2;
    @apply rounded-full;
  }
  .btn-warning {
    @apply bg-amber-600;
    @apply text-white;
    @apply px-3;
    @apply py-2;
    @apply rounded-full;
  }
  .btn-danger {
    @apply bg-red-500;
    @apply text-white;
    @apply px-3;
    @apply py-2;
    @apply rounded-full;
  }
}